body{
    background-color: rgb(214, 208, 214);
    margin: 0;
}

.c{
    color: blue;
}

header a {
    color: #2f3aa0;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    font-style: normal;
    opacity: 0.95;
}

header a:hover {
    text-decoration: none;
    color: rgb(20, 220, 20);
    background:#fff;
    opacity: 1;
}
.log-out{
    position: relative;
    left: 58%;
}

/* #diary{
    margin-right: 40px;
} */
#date{
    margin-right: 50px;
    font-weight: bold;
}