<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/front.css">
    <title>Home|QuantifiedSelf App</title>
</head>
<body>
    <header>
        <div class="container">
            <div id="heading">
                <h3><em>QuantifiedSelf App</em></h3>
                <a href="/login" id="log-out" >Log In</a>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <div>
            <img class="height" src="../static/quantified-self-image.jpg" alt="no image">
        </div >
        <div>
           <div class="main-text">
            <h1>Improvements start with what you do and keep track.</h1>
           </div>
           <div class="sub-text">
               Take control of your goals. Track what you do and log every 
               activity your perform with QuantifiedSelf App.<br>
               <em>Save them and track them...</em>
           </div>
           <div id="log-in">
                <a href="/login" >Start Here...</a>
            </div>
        </div>    
    </div>
</body>
</html>