<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/wrong_pass.css">
    <title>Document</title>
</head>
<body>
    <h2>Oops! Perhaps you entered somtheing other than Numerical Value.</h2>
    <h3>Please note that anything other than numerical value is unaccepted.</h3>
    <div>
        <a href="/log/{{ trname }}" >Go Back</a>
    </div>
</body>
</html>
</body>
</html>