<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/wrong_bool.css">
    <title>Document</title>
</head>
<body>
    <h2>Oops! Perhaps you entered somtheing other than YES or NO.</h2>
    <h3>Please note that YES is mapped to 1 and NO to 0 for visualization.</h3>
    <div>
        <a href="/log/{{ tid }}" >Go Back</a>
    </div>
</body>
</html>
</body>
</html>